{% extends 'checks/base.html' %}
{% block content %}

<div style="margin-top: 30px; overflow-wrap: break-word;">
    {% if isutf8_encoded %}
    <div style="background-color: rgb(2, 2, 86); color: aliceblue; padding: 2.5px;">Is this file UTF8-encoded?</div>
    <div>{{ isutf8_encoded }}</div>
    <hr>
    {% endif %}

    {% if columns %}
    <div style="background-color: rgb(2, 2, 86); color: aliceblue; padding: 2.5px;">Columns</div>
    <div>{{ columns }}</div>
    <hr>
    {% endif %}

    {% if rows %}
    <div style="background-color: rgb(2, 2, 86); color: aliceblue; padding: 2.5px;">Rows</div>
    <div id="rowCount">{{ rows }}</div>
    <hr>
    {% endif %}

    {% if headers %}
    <div style="background-color: rgb(2, 2, 86); color: aliceblue; padding: 2.5px;">Headers</div>
    <div>{{ headers }}</div>
    <hr>
    {% endif %}

    {% if encoding %}
    <div style="background-color: rgb(2, 2, 86); color: aliceblue; padding: 2.5px;">Encoding</div>
    <div>{{ encoding }}</div>
    <hr>
    {% endif %}

    {% if isutf8_encoded == "No" %}
    <div class="alert alert-danger" role="alert">Please ONLY use UTF8-encoded files.</div>
    {% endif %}
</div>
<div>
    <button class="btn btn-secondary mb-3"  onclick="location.href='/'" style="margin-top: 30px;">Back</button>
</div>

{% if headers %}
<form class="row g-3" action="/sample" method="post" enctype="multipart/form-data" style="margin-top: 30px;">
    {% csrf_token %}
    <hr>
    <small>Click the button below to <b>generate a sample of 25 rows</b>.</small>
    <input type="text" name="row_count" id="rowCountFormInput" hidden>
    <button class="btn btn-success mb-3" type="submit" value="Generate Sample">Generate Sample</button>
</form>

<script>
  node = document.getElementById("rowCount");
  row_count = node.textContent.replace(",", "");
  document.getElementById("rowCountFormInput").value = row_count
</script>
{% endif %}
{% endblock %}